{% extends 'Includes/index.html' %}
{% load static %}
{% load mptt_tags %}
{% block title %}
{% endblock %}

{% block css %}
<link href="{% static 'css/MainPage/main_page.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
{% if articles %}
<h2>Статьи</h2>
<ul>
    {% for article in articles %}
    <a href="/{{ node.get_ancestors|tree_path:"/"}}/{{node.name}}">{{article.title}}</a>
    {% endfor %}
</ul>
{% endif %}
{% if is_art %}
<h2>Статья</h2>
<ul>
    {{art|safe}}
</ul>
{% endif %}

{% if not articles %}
<div class="iphone-13-14-11">
    <div class="parent">
        <div class="div3">Какое-то лютое описание</div>
        <div class="div4">
            Пишу зачем нужен сайт Пишу зачем нужен сайт Пишу зачем нужен сайт Пишу
            зачем нужен сайт Пишу зачем нужен сайт Пишу зачем нужен сайт Пишу
            зачем нужен сайт Пишу зачем нужен сайт Пишу зачем нужен
        </div>
    </div>
    <div class="group">
        <div class="div5">Правовуха</div>
        <div class="frame-div">
            <div class="b">Об образовании</div>
        </div>
        <div class="frame-div">
            <div class="b">Правила внутреннего распорядка</div>
        </div>
        <div class="frame-div">
            <div class="b">Методичка по праву</div>
        </div>
        <div class="frame-div">
            <div class="b">Структура образовательного учреждения</div>
        </div>
        <div class="frame-div">
            <div class="b">Примеры ситуаций</div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}