body {
  margin: 0;
  line-height: normal;
  background-color: var(--color-white);
  height: 1085px;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  gap: var(--gap-13xl);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-nunito-sans);
}

:root {
  /* fonts */
  --font-nunito-sans: "Nunito Sans";

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 18px;

  /* Colors */
  --color-white: #fff;
  --color-lightsteelblue: #9cb7df;
  --color-dodgerblue-100: #428dff;
  --color-dodgerblue-200: #428cff;
  --color-black: #000;
  --black-titles: #1b1b1b;

  /* Gaps */
  --gap-13xl: 32px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-base: 16px;
  --padding-5xs: 8px;
  --padding-xs: 12px;

  /* Border radiuses */
  --br-base: 16px;
  --br-20xl: 39px;
}