{% load mptt_tags %}
<header>
    <div class="ellipse-parent">
        <div class="frame-child">
            {% if child_categories %}
            {% for category in child_categories %}
            <div class="wrapper">
                <div class="div"><a href="">{{ category.name }}</a></div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <img class="frame-item" alt="" src="./public/group-814.svg"/>

        <div class="frame-inner"></div>
        <div class="arrowsarrow-left-parent">
            <img class="arrowsarrow-left-icon" alt=""/>

            <b class="b">Меню</b>
            <img class="arrowsarrow-left-icon" alt=""/>
        </div>
    </div>
</header>