<header>
    <div class="ellipse-parent">
        <div class="frame-child">
            <div class="wrapper">
                <div class="div">ПрофОргам</div>
            </div>
            <div class="wrapper">
                <div class="div">ПрофОргам</div>
            </div>
            <div class="wrapper">
                <div class="div">ПрофОргам</div>
            </div>
        </div>
        <img class="frame-item" alt="" src="./public/group-814.svg"/>

        <div class="frame-inner"></div>
        <div class="arrowsarrow-left-parent">
            <img class="arrowsarrow-left-icon" alt=""/>

            <b class="b">Меню</b>
            <img class="arrowsarrow-left-icon" alt=""/>
        </div>
    </div>
</header>